#features {
  background-color: #F3F6FF;
}
#features .container {
  text-align: center;
  padding: 4rem 0;
}
#features .container .our-tool-title {
  margin-bottom: 3rem;
}
#features .container .our-tool-title p {
  color: #9397AD;
}
#features .container .tool-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#features .container .tool-options .article-content {
  padding: 3rem 2rem;
  transition: 0.2s;
}
#features .container .tool-options .article-content .article-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
#features .container .tool-options .article-content .article-icon img {
  background-color: #F3F6FF;
  padding: 10px;
  border-radius: 4px;
}
#features .container .tool-options .article-content p {
  color: #565973;
}
#features .container .tool-options .article-content:hover {
  background-color: white;
  box-shadow: 0 0 14px -4px rgba(0, 0, 0, 0.4);
}
#features .container .tool-options #feature-1 {
  border-bottom: 1px solid #E2E5F1;
}
#features .container .tool-options #feature-2 {
  border-left: 1px solid #E2E5F1;
  border-right: 1px solid #E2E5F1;
  border-bottom: 1px solid #E2E5F1;
}
#features .container .tool-options #feature-3 {
  border-bottom: 1px solid #D4D7E5;
}
#features .container .tool-options #feature-5 {
  border-left: 1px solid #D4D7E5;
  border-right: 1px solid #D4D7E5;
}
