<section id="showcase" class="task-management">
    <div class="container">
        <div class="tasktext">
            <h1 class="d4">Task Management Assistant You Gonna Love</h1>
            <p>We offer you a new generation of task management system. Plan, manage & track all your tasks in one flexible tool.</p>
            <a class="btn-theme" href="/signup">Get started for free</a>
            <h6 class="h6">Largest companies use our tool to work efficiently</h6>
            <img src="images/logos/companieslogos.png" alt="logoipsum, logoipsum, logoipsum and logoipsum">
        </div>
        <div class="taskimg">
            <img src="images/other/taskmanagement.svg">
        </div>
    </div>
</section>
