#showcase {
    display: flex;
    justify-content: space-between;


    .container {
        display: flex;


        .tasktext {
            width: 40%;
            padding-top: 100px;

            h1 {
                color: #0B0F19;
                line-height: 1.4;
            }

            p {
                margin: 2rem 0;
            }

            a {
                display: inline-block;
            }

            h6 {
                padding-top: 110px;
                padding-bottom: 30px;
            }
        }

        .taskimg {
            margin-left: 20px;
        }
    }
}
