@inherits LayoutComponentBase
@layout AccountLayout


<CascadingValue Value="user">
<section class="account-details">
    <div class="container">
        <aside>
            
                <AccountProfileAvatar />
            
        </aside>
        <div class="details-content">
            @Body
        </div>
    </div>
</section>
</CascadingValue>


@code {
    [CascadingParameter]
    public ApplicationUser user { get; set; } = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await LoadUserDataAsync();
    }

    private async Task LoadUserDataAsync()
    {
        user = await UserManager.GetUserAsync(HttpContext.User) ?? null!;
    }
}
