@using Silicon_Frontend.Components.Sections.Account
@inherits LayoutComponentBase
@layout AccountLayout


<section class="account-details">
    <div class="container">
        <aside>
            <AccountProfileAvatar />
        </aside>
        <div class="details-content">
            @Body
        </div>
    </div>
</section>
