.account-details {
  display: flex;
}
.account-details .container {
  flex: 1;
  display: grid;
  grid-template-columns: 25% 75%;
}
.account-details .container aside {
  border-right: 1px solid #EFF2FC;
}
.account-details .container .details-content {
  margin-left: 100px;
}
